.profilePic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.message .sent {
  color: green;
}

.message .received {
  color: red;
}

.messageContainer {
  display: flex;
  align-items: center;
}
